/* Estilos para las secciones adicionales */
.projects {
    text-align: justify; /* Centrar horizontalmente el contenido */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .project {
    margin-bottom: 20px;
    padding-bottom: 10px; /* Espacio inferior entre los proyectos en dispositivos móviles */
  }
  
  .contact {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center; /* Centrar horizontalmente el contenido */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px; /* Espacio entre la sección de proyectos y la sección de contacto */
  }
  
  .contact h2 {
    font-size: 24px;
    margin-bottom: 10px; /* Espacio inferior entre el título y el contenido */
  }
  
  .contact p {
    margin-bottom: 10px; /* Espacio inferior entre los párrafos */
  }
  
  .contact ul {
    list-style: none; /* Quita los estilos de viñetas de la lista */
    margin-bottom: 15px; /* Espacio inferior entre la lista y los enlaces de redes sociales */
  }
  
  .contact li {
    margin-bottom: 5px; /* Espacio inferior entre los elementos de la lista */
  }
  
  /* Estilos para los enlaces de redes sociales en la sección de contacto */
  .logos_social {
    display: inline-flex;
    align-items: center;
  }
  
  .logos_social img {
    width: 30px; /* Ancho de las imágenes de los logos */
    margin-right: 5px; /* Espacio entre la imagen y el texto del enlace */
  }
  
  .logos_social a {
    color: #007bff; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado por defecto */
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacio entre enlaces */
  }
  
  /* Estilo al pasar el ratón por encima del enlace */
  .logos_social a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón por encima */
  }
  
  /* Estilo para los enlaces abiertos en una nueva pestaña */
  .logos_social a[target="_blank"]::after {
    content: " (Nueva pestaña)"; /* Agrega un texto después del enlace */
    font-size: 12px;
    color: #aaa;
  }
  
  /* Estilo para aplicar rotación al logo en estado hover */
  .rotateOnHover img {
    transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
  }
  
  .rotateOnHover:hover img {
    transform: rotate(360deg); /* Rotación de 360 grados al pasar el ratón por encima */
  }
  