/* Estilos para el componente App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente el contenido */
  min-height: 100vh; /* Ajustar el valor de altura mínima para ocupar toda la ventana */
  background-color: #282c34;
  color: white;
}

.App-header {
  padding: 20px 0; /* Agregar espaciado superior e inferior al encabezado */
  text-align: center; /* Centrar horizontalmente el contenido del encabezado */
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0; /* Eliminar el margen superior e inferior del título */
}

.App-logo {
  height: 40px;
  width: auto;
  pointer-events: none;
}

/* Resto de los estilos existentes... */


.App-link {
  color: #61dafb;
}

/* Resto de los estilos existentes... */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

